<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vote.vip.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.vote.vip.bean.User">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_score" jdbcType="INTEGER" property="userScore" />
    <result column="user_level" jdbcType="VARCHAR" property="userLevel" />
    <result column="user_isKilled" jdbcType="VARCHAR" property="userIskilled" />
  </resultMap>
  <insert id="insert" parameterType="com.vote.vip.bean.User">
    insert into t_user (user_id, user_name, user_password, 
      user_email, user_score, user_level, 
      user_isKilled)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userScore,jdbcType=INTEGER}, #{userLevel,jdbcType=VARCHAR}, 
      #{userIskilled,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vote.vip.bean.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userScore != null">
        user_score,
      </if>
      <if test="userLevel != null">
        user_level,
      </if>
      <if test="userIskilled != null">
        user_isKilled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userScore != null">
        #{userScore,jdbcType=INTEGER},
      </if>
      <if test="userLevel != null">
        #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="userIskilled != null">
        #{userIskilled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>